RewriteEngine On
# Strip trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [R=301,L]
# Remove .html extension.
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Where 404's go:
ErrorDocument 404 https://mhaire.net/

# Hide .git like folders/files
RedirectMatch 404 /\.git

# Hide GH specific files
Redirect /README.md /
Redirect /LICENSE.md /

RedirectMatch (?i)^/tw/?$ https://twitter.com/micah_haire/
RedirectMatch (?i)^/twitter/?$ https://twitter.com/micah_haire/
RedirectMatch (?i)^/twit/?$ https://twitter.com/micah_haire/
RedirectMatch (?i)^/gh/?$ https://github.com/micaharies/
RedirectMatch (?i)^/github/?$ https://github.com/micaharies/
RedirectMatch (?i)^/git/?$ https://github.com/micaharies/
RedirectMatch (?i)^/code/?$ https://github.com/micaharies/
RedirectMatch (?i)^/last/?$ https://last.fm/user/micaharies/
RedirectMatch (?i)^/lastfm/?$ https://last.fm/user/micaharies/
RedirectMatch (?i)^/resume-pdf/?$ https://docs.google.com/viewer?url=https://github.com/micaharies/resume/releases/download/latest/resume.pdf
RedirectMatch (?i)^/linkedin/?$ https://www.linkedin.com/in/micah-haire/
RedirectMatch (?i)^/li/?$ https://www.linkedin.com/in/micah-haire/
RedirectMatch (?i)^/steam/?$ https://steamcommunity.com/id/micaharies/
RedirectMatch (?i)^/np/?$ https://mhaire.net/now-playing/
RedirectMatch (?i)^/mail/?$ https://box.mhaire.net/mail/
RedirectMatch (?i)^/free-vbucks/?$ https://https://youtu.be/sLR3hv_UEUU/