@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --font: 'Roboto Mono', monospace;
    --background: #000;
    --text-color: white;
    --outline-color: rgb(72, 72, 72);
}

a.email {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    font-family: var(--font);
    margin: auto;
    text-align: center;
}

div.header {
    margin: 10px 0px;
}

thead {
    display: table-header-group;
}

div#tableedu,
div#tableexp,
div#experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

th {
    font-size: 15pt;
}

td.space {
    padding-bottom: 20px;
}


td.skill {
    margin: auto;
    width: 150px;
    text-align: center;
}